.SelectFilter {
    .dropbtn {
        background-color: $white;
        height: 46px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        min-width: 116px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropbtn:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        min-width: 111px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: -5px;
        border-radius: 10px;
        margin-top: 7px;

        .delete {
            color: $red;
        }
    }

    .dropdown-content a {
        color: $black;
        padding: 5px 8px;
        text-decoration: none;
        display: block;
        margin: 3px 3px;
    }

    .dropdown-content a:hover {
        background-color: $purple;
        border-radius: 10px;
        color: $white;
    }

    .show {
        display: block !important;
        padding: 5px;
    }
}