.Task {
    background-color: white;
    height: 46px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;

    .non-edit-mode,
    .edit-mode {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .non-edit-mode {
        .container {
            align-items: center;
            display: flex;
        }

        .disable {
            text-decoration: line-through;
            color: #A9A9A9 !important;
        }

        .title {
            color: #2E2E2E;
            font-size: 16px;
        }

        input[type="checkbox"] {
            width: 17px;
            height: 17px;
            accent-color: $purple;
            margin-right: 15px;
        }

        .dots {
            font-size: 36px;
            line-height: 0;
            margin-top: -10px;
            letter-spacing: -2px;
        }

        .dropbtn {
            // background-color: #04AA6D;
            background-color: white;
            color: #9796A8;
            // padding: 16px;
            font-size: 34px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $white;
            min-width: 111px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            margin-left: -75px;
            border-radius: 10px;

            .delete {
                color: red;
            }
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 10px;
        }

        .dropdown:hover .dropdown-content {
            display: block !important;
        }
    }

    .edit-mode {
        .save-btn {
            border-radius: 999px;
            font-family: Arial;
            color: $white;
            background: $purple;
            text-decoration: none;
            padding: 9px 16px;
            margin-right: -14px;
        }
    }

    input[type="text"] {
        background: transparent;
        border: none;
        outline: none;
    }
}