$body-background: #F5F5F5;

// Progress Component
$progress-background: #E07C7C;
$progress-font: #FFFFFF;
$progress-status: #EBB9B8;
$progress-bar-completed: #FFFFFF;
$progress-bar-uncomplete: #3B3B3B;

$black: #000000;
$white: #FFFFFF;
$purple: #585292;
$red: #FF0000;
$dot-grey: #9796A8;