$body-background: #F5F5F5;

// Progress Component
$progress-background: #E07C7C;
$progress-font: #FFFFFF;
$progress-status: #EBB9B8;
$progress-bar-completed: #FFFFFF;
$progress-bar-uncomplete: #3B3B3B;

// Task Component

body {
    background-color: $body-background;
}